body {
	background: rgb(223, 222, 210);
	margin: 0;
}

.content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.space {
	width: 45%;
	display: flex;
	flex-wrap: nowrap;
}

.clock {
	position: relative;
	height: 45vw;
	width: 45vw;
	background-image: url("/my projects/clock/background-clock.png");
	background-repeat: no-repeat;
  background-size: contain;
}

.hand {
	position: absolute;
  top: 50%;
	left: 50%;
	background-color: black;
	transform-origin: top;
	
}

.second {
	height: 40%;
	width: 0.5%;
	background-color: red;
	border-radius: 2px;
	animation-name: time;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
}
.minute {
	height: 30%;
	width: 1%;
	border-radius: 4px;
	animation-name: time;
	animation-duration: 60s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	
}
.hour {
	height: 23%;
	width: 1.5%;
	border-radius: 6px;
	animation-name: time;
	animation-duration: 720s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}



@keyframes time{
	from{
		rotate: -180deg;
	}

	25% {
		rotate: -90deg;
	}

	50% {
		rotate: 0deg;
	}

	75% {
		rotate: 90deg;
	}

	to {
		rotate: 180deg;
	}
}
