.header {
	width: 100%;
	height: 50px;
	background-color: rgb(143, 207, 186);
	border-bottom: 1px solid gray;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
}

.header>div {
	display: flex;
	width:100%;
	
}
.header>div>a {
	background-color: aliceblue;
	display: flex;
	width:100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	box-shadow: 1px 1px 2px #21201e;
}

.header>div>a:visited {
	color: black;
}



.header>div>a:hover {
	background-color: #999;
  color: #fff;
}
.header>div>a:active {
  transform: translateY(1px);
	box-shadow: none;
}